/**
 Styling kudos go mostly to the author of this CodePen: https://codepen.io/wallaceerick/pen/fEdrz
 **/

@import "compass/css3";

@import url("https://fonts.googleapis.com/css?family=Lato");

$background: #4cd3c2;
$file-upload-color: #f568af;
$select-color: #fff;
$select-background: $file-upload-color;
$select-width: 100%;
$select-height: 40px;

* {
  margin: 0;
  padding: 0;
  font-family: Lato, Arial, serif;
}
body {
  color: #fff;
  padding: 55px 25px;
  background-color: $background;
}
h1 {
  font-weight: normal;
  font-size: 40px;
  text-transform: uppercase;
  span {
    font-size: 13px;
    display: block;
    padding-left: 4px;
  }
}
p {
  margin-top: 200px;
  a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: darken($file-upload-color, 2);
    @include transition(all 0.2s ease-in);
    &:hover {
      background-color: darken($file-upload-color, 5);
    }
  }
}
.custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}
.custom-file-upload {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
  width: auto;
  font-size: 16px;
  margin-top: 30px;
  label {
    display: block;
    margin-bottom: 5px;
  }
}

.file-upload-wrapper {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 2fr 1fr;
  grid-row: 2;
  grid-column: 2;
  justify-items: start;
  position: relative;
  margin-bottom: 5px;
}
.file-upload-input {
  grid-column: 1;
  width: 100%;
  color: #fff;
  font-size: 16px;
  padding: 11px 17px;
  border: none;
  background-color: lighten($file-upload-color, 2);
  @include transition(all 0.2s ease-in);
  float: left; /* IE 9 Fix */
  &:hover, &:focus {
    background-color: darken($file-upload-color, 5);
    outline: none;
  }
}
.button {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 11px 20px;
  border: none;
  margin-left: -1px;
  background-color: darken($file-upload-color, 10);
  float: left; /* IE 9 Fix */
  @include transition(all 0.2s ease-in);
  &:hover {
    background-color: darken($file-upload-color, 20);
  }
}
.select-files-button {
  grid-column: 2;
  width: 100%;
  z-index: 1;
}
.file-upload-button {
  grid-row: 3;
  grid-column: 2;

  &:disabled, &[disabled] {
    background-color: lighten($select-background, 5);
    cursor: not-allowed;
  }
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column: 2;
  grid-row: 1;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  color: $select-color;
  width: $select-width;
  height: $select-height;
}
.select-label {
  grid-row: 1;
}
.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  padding: 8px 15px;
  @include transition(all 0.2s ease-in);
  &:after {
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: $select-color transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  &:hover {
    background-color: darken($select-background, 2);
  }
  &:active, &.active {
    background-color: darken($select-background, 5);
    &:after {
      top: 9px;
      border-color: transparent transparent $select-color transparent;
    }
  }
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: darken($select-background, 5);
  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid darken($select-background, 10);
    @include transition(all 0.15s ease-in);
    &:hover {
      color: $select-background;
      background: $select-color;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}